name: NodeJS with Grunt

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        # Bu satır, 'node_modules' klasörünü önbelleğe alır
        cache: 'npm'

    - name: Build
      run: |
        # 'npm ci' kullanmak, 'package-lock.json' dosyasını
        # okuduğu için 'npm install'dan daha hızlı ve güvenilirdir.
        npm ci
        grunt
